/* Offsetting the visibility of some elements on page-launch pretty much avoids the need for a ghost shell,
especially for when dealing with a shortcuts container that can vary in set size.

A subtle animation means you wont see the "Label" shift up a view pixels within 200ms of dom load, and such.
*/

@keyframes fadeInOnAppLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header, .settings-btn, .tabs-btn {
    opacity: 0;
    animation: fadeInOnAppLoad 0.8s ease forwards;
    animation-delay: 0.15s;
}

.shortcut-icon img {
    opacity: 0;
    animation: fadeInOnAppLoad 2s ease forwards;
    animation-delay: 0.25s;
}