@keyframes fadeInOnAppLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header, .settings-btn, .tabs-btn {
    opacity: 0;
    animation: fadeInOnAppLoad 0.8s ease forwards;
    animation-delay: 0.15s;
}

.shortcuts-container {
    opacity: 0;
    animation: fadeInOnAppLoad 0.8s ease forwards;
    animation-delay: 0.4s;
}