@media (prefers-color-scheme: dark) { * {
    --element-bg-color: rgb(43, 42, 51);
    --element-layered-bg-color: color-mix(in srgb, var(--element-bg-color) 95%, black);
    --element-fg-color: white;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 45%, transparent);
}}

@media (prefers-color-scheme: light) { * {
    --element-bg-color: rgb(250, 250, 255);
    --element-layered-bg-color: rgb(221, 221, 231);
    --element-fg-color: black;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 97%, transparent);
}}

* {
    --accent-color: #3b82f6;
    --text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    --element-border-radius: 10px;
}

/* setting: enable more blur, needs to be redone as an attribute where it's variable(s) manipulate appearance. */