@media (prefers-color-scheme: dark) { * {
    --element-bg-color: rgb(43, 42, 51);
    --element-layered-bg-color: color-mix(in srgb, var(--element-bg-color) 95%, black);
    --element-fg-color: white;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 35%, transparent);
}}

@media (prefers-color-scheme: light) { * {
    --element-bg-color: rgb(250, 250, 255);
    --element-layered-bg-color: rgb(221, 221, 231);
    --element-fg-color: black;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 90%, transparent);
}}

* {
    --accent-color: #3b82f6;
    --text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    --element-border-radius: 10px;
}

body[theme-blur] {
    .settings-sidebar { background: color-mix(in srgb, var(--element-bg-color) 80%, transparent) !important; }

    .tabs-sidebar { background: color-mix(in srgb, var(--element-bg-color) 20%, transparent) !important; }
    
    .trackers-sidebar { background: color-mix(in srgb, var(--element-bg-color) 20%, transparent) !important; }
    
    .modal-content { background: color-mix(in srgb, var(--element-bg-color) 40%, transparent) !important; }
    
    .shortcut-menu-btn { background: color-mix(in srgb, var(--element-bg-color) 10%, transparent) !important; }
    
    .settings-content, .tabs-sidebar, .trackers-sidebar, .modal-content, .shortcut-menu-btn
    {
        backdrop-filter: blur(10px) !important;
    }
    
    .tabs-item:not(.active,[tab-group-color]),
    .tracker-item
    {
        background: var(--more-blur) !important;
        border: 1px solid color-mix(in srgb, white 3%, transparent);
    }
    
    .settings-sidebar *:not(select):not(option) {--element-layered-bg-color: var(--more-blur) !important;}
    
    select:not(:focus) {background-color: var(--more-blur) !important;}
    
    .modal *:not(select):not(option) { --element-layered-bg-color: var(--more-blur) !important;}

    .modal *:not(select):not(option) { --element-layered-bg-color: var(--more-blur) !important;}
}


body[theme-sidebar-btns-on-hover] {
    /* .settings-btn:not(:hover) { top: 10px; right: 10px; }
    .tabs-btn:not(:hover) { top: 10px; left: 10px; }
    .trackers-btn:not(:hover) { bottom: 10px; left: 10px; } */
    .settings-btn, .tabs-btn, .trackers-btn {
        transition: width 0.1s, height 0.1s, opacity 0.5s;
        &::before {
            content: ""; width: 200px; height: 200px; position: fixed;
        }
        &:not(:hover) {
            transform: scale(0.2);
            background: var(--element-fg-color);
            opacity: 0.1;
        }
        &:hover::before {
            display: none;
        }
    }
}