@media (prefers-color-scheme: dark) { * {
    --element-bg-color: rgb(43, 42, 51);
    --element-layered-bg-color: color-mix(in srgb, var(--element-bg-color) 95%, black);
    --element-fg-color: white;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 45%, transparent);
}}

@media (prefers-color-scheme: light) { * {
    --element-bg-color: rgb(250, 250, 255);
    --element-layered-bg-color: rgb(221, 221, 231);
    --element-fg-color: black;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 97%, transparent);
}}

* {
    --accent-color: #3b82f6;
    --text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    --element-border-radius: 10px;
}

body[theme-blur] {
    .settings-sidebar {
        background: color-mix(in srgb, var(--element-bg-color) 90%, transparent) !important;
    }
    .settings-content {
        backdrop-filter: blur(10px) !important;
    }
    .tabs-sidebar {
        background: color-mix(in srgb, var(--element-bg-color) 20%, transparent) !important;
        backdrop-filter: blur(10px) !important;
    }
    .modal-content {
        background: color-mix(in srgb, var(--element-bg-color) 40%, transparent) !important;
        backdrop-filter: blur(10px) !important;
    }
    .shortcut-menu-btn {
        background: color-mix(in srgb, var(--element-bg-color) 10%, transparent) !important;
        backdrop-filter: blur(10px) !important;
    }
    .settings-sidebar *:not(select):not(option) {
        --element-layered-bg-color: var(--more-blur) !important;
    }
}