@media (prefers-color-scheme: dark) { * {
    --element-bg-color: rgb(43, 42, 51);
    --element-layered-bg-color: color-mix(in srgb, var(--element-bg-color) 95%, black);
    --element-fg-color: white;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 35%, transparent);
}}

@media (prefers-color-scheme: light) { * {
    --element-bg-color: rgb(250, 250, 255);
    --element-layered-bg-color: rgb(221, 221, 231);
    --element-fg-color: black;
    --more-blur: color-mix(in srgb, var(--element-bg-color) 90%, transparent);
}}

* {
    --accent-color: #3b82f6;
    --text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    --element-border-radius: 10px;
}

body[theme-blur] {
    .settings-sidebar { background: color-mix(in srgb, var(--element-bg-color) 80%, transparent) !important; }

    .tabs-sidebar { background: color-mix(in srgb, var(--element-bg-color) 20%, transparent) !important; }
    
    .trackers-sidebar { background: color-mix(in srgb, var(--element-bg-color) 20%, transparent) !important; }
    
    .modal-content { background: color-mix(in srgb, var(--element-bg-color) 40%, transparent) !important; }
    
    .shortcut-menu-btn { background: color-mix(in srgb, var(--element-bg-color) 10%, transparent) !important; }
    
    .settings-content, .tabs-sidebar, .trackers-sidebar, .modal-content, .shortcut-menu-btn
    {
        backdrop-filter: blur(10px) !important;
    }
    
    .tabs-item:not(.active),
    .tracker-item
    {
        background: var(--more-blur) !important;
        border: 1px solid color-mix(in srgb, white 3%, transparent);
    }
    
    .settings-sidebar *:not(select):not(option) {--element-layered-bg-color: var(--more-blur) !important;}
    
    select:not(:focus) {background-color: var(--more-blur) !important;}
    
    .modal *:not(select):not(option) { --element-layered-bg-color: var(--more-blur) !important;}

    .modal *:not(select):not(option) { --element-layered-bg-color: var(--more-blur) !important;}
}

