@import url('css/fonts.css');
@import url('css/default-theme.css');
@import url('css/sliders.css');
/* @import url('css/checkboxes.css'); */
@import url('css/shortcuts-dragdrop.css');
@import url('css/modals.css');
@import url('css/ui.css');
@import url('css/tabs-sidebar.css');

