@import url('css/animate-launch.css');
@import url('css/fonts.css');
@import url('css/default-theme.css');
@import url('css/selects.css');
@import url('css/sliders.css');
@import url('css/checkboxes.css');
@import url('css/searchbar.css');
@import url('css/shortcut-dragdrop.css');
@import url('css/shortcut-styles.css');
@import url('css/label-position.css');
@import url('css/label-styles.css');
@import url('css/settings-sidebar.css');
@import url('css/tabs-sidebar.css');
@import url('css/trackers-sidebar.css');
@import url('css/modals.css');
@import url('css/ui.css');